@using Microsoft.AspNetCore.Mvc.Localization
@using TCYDMWebApp.Repositories.Lang


@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@model TCYDMWebApp.ViewModels.OnlineQueryViewModel

<div class="sign-up" style="background:#dc1018;">
    <h2>@SharedLocalizer["Online query"]</h2>
    <div class="sign-hr"></div>
    <hr class="hr-s">
    <div class="online-service">
        <form asp-action="GetOnlineTurn" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-4 col-md-12 ">

                    <div asp-validation-summary="ModelOnly" class="text-info"></div>
                    <h5 style="text-transform:uppercase">@SharedLocalizer["Service"]</h5>
                    @if (TempData["ServerResponseError"] != null)
                    {
                        <div class="p-red-box servererror" style="position:absolute;left:5%;top:40%;z-index:2;display:none;">
                            <p style="color:white">@TempData["ServerResponseError"]</p>
                        </div>
                    }

                    <div class="form-group">

                        <select class="form-control" asp-for="ServiceId" id="ServiceId">
                            <option value="" selected>@SharedLocalizer["Select Service"]</option>
                            @await Component.InvokeAsync("OnlineTurn")
                        </select>
                        <span asp-validation-for="ServiceId" class="text-info"></span>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <select class="form-control" asp-for="ServiceDate" id="ServiceId">
                                    <option value="" selected>@SharedLocalizer["Select Date"]</option>

                                    @for (int i = 0; i < 7; i++)
                                    {
                                        <option>@DateTime.Now.AddDays(i).ToString("yyyy-MM-dd")</option>
                                    }


                                </select>
                                <span asp-validation-for="ServiceDate" class="text-info"></span>
                            </div>
                            <div class="col-6">
                                <select class="form-control" asp-for="ServiceTime" id="ServiceId">
                                    <option value="" selected>@SharedLocalizer["Select Time"]</option>
                                    @{ int hour = 8;
                                        int minute = 0;
                                    }
                                    @for (int i = 0; i <= 12; i++)
                                    {
                                        @(minute = 0)
                                        for (int j = 0; j < 2; j++)
                                        {
                                            if (hour != 20)
                                            {
                                                <option>@(hour):@(minute)0</option>
                                                @(minute += 3);
                                            }
                                            else
                                            {

                                            }

                                        }

                                        @(hour+=1)
                                    }


                                </select>
                                <span asp-validation-for="ServiceTime" class="text-info"></span>
                            </div>
                        </div>

                    </div>
                    <div class="Ikametizni row" style="display:none">




                    </div>
                    <input type="hidden" name="FileNumber" id="FileNumber" />
                    <input type="hidden" name="fcount" id="addFiles" value="" />

                    <div class="form-group">

                        <textarea id="Info" asp-for="Info" class="form-control" rows="4" required></textarea>
                        <span asp-validation-for="Info" class="text-info"></span>
                    </div>






                </div>

                <div class="col-lg-4 col-md-12">
                    <h5 style="text-transform:uppercase">@SharedLocalizer["Personal Info"]</h5>
                    @await Component.InvokeAsync("UserInfo")
                    <button class="button-sign">@SharedLocalizer["Get Turn"]</button>
        </form>



        <div class="p-box">
            <p>
                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                doloremque.
            </p>
        </div>
        <div class="p-red-box">
            <p>
                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                doloremque.
            </p>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="lorem-text-account">
            <h4>Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit</h4>
            <div class="row">

                <div class="col-2">
                    <div class="first-dot"></div>
                    <div class="dot-circle"></div>
                    <hr class="vr">
                    <div class="second-dot"></div>
                    <div class="second-dot-circle"></div>
                    <div class="third-dot"></div>
                    <div class="third-dot-circle"></div>
                </div>
                <div class="col-10">


                    <p>
                        "Sed ut perspiciatis unde omnis iste natusb error sit voluptatem accusantium
                        doloremque laudantium, totam rem aperiam.
                    </p>

                    <p>
                        "But I must explain to you how all this mistaken idea of denouncing pleasure
                        and praising pain was born and I will give you a complete account of the
                        system, and expound the actual teachings of the great explorer
                        of the truth, the master-builder of human happiness.
                    </p>
                    <p>
                        "Sed ut perspiciatis undeiste natus error sit voluptatem accusantium
                        doloremque laudantium, totam rem.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
    </div>
</div>

@section Scripts {
    @if (TempData["ServerResponseError"] != null)
    {

        <script>
            $(".servererror").fadeIn(function () {
                setTimeout(function () {
                    $(".servererror").fadeOut();
                }, 3000);
            })
        </script>
    }

<script>

        $("#ServiceId").change(function () {

            $.ajax({
                method: "POST",
                url: "@Url.Action("GetServiceAdditions", "ActionsController")",
                data: { Id: $(this).val() }
            })
                .done(function (msg) {
                    $(".Ikametizni").empty();
                    let name = "";
                    let minmax = "";
                    let fileCount = 0;
                    let col = "";
                    for (let f of msg.data) {
                        switch (f.inputId) {
                            case 1:
                                f.inputId = "text";
                                name = "addtexts";
                                col="col-12"
                                break;
                            case 2:
                                f.inputId = "number"
                                name = "addnumbers";
                                minmax = "min='0'"
                                col = "col-6"
                                break;
                            case 3:
                                f.inputId = "file"
                                name = "addfiles";
                                fileCount++;
                                col = "col-6";
                                break;
                            default:
                                f.inputId = "text"
                        }
                        $(".Ikametizni").append(
                            `<div class='${col}'>` +
                            `<div class='form-group'>` +
                            `<input id='ServiceDate' id="${name}" name='${name}' type='${f.inputId}' placeholder="${f.placeHolder}" ${minmax} required class='form-control'/>` +
                            `<span class="text-info field-validation-valid" data-valmsg-for="${name}" data-valmsg-replace="true"></span>` +
                            `</div>` +
                            `</div>`);

                    }
                    $("#addFiles").val(fileCount);
                });



            if ($(this).val() != "0") {
                $(".Ikametizni").show();
            } else {
                $(".Ikametizni").hide();
            }
        })



</script>


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}

@section ValidationJS{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js">
    </script>
    <script>
        $(document).ready(function () {
            jQuery.extend(jQuery.validator.messages, {
                required: "@SharedLocalizer["This field is required."]"
            });
        })
    </script>
}