@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model TCYDMWebApp.DTO.ContactUsDTO

@using Microsoft.AspNetCore.Mvc.Localization
@using TCYDMWebApp.Repositories.Lang

@inject IHtmlLocalizer<SharedResource> SharedLocalizer
<div class="contact">
    <h4 style="color:#212529">@SharedLocalizer["Contact us"]</h4>
    <div class="row">
        <div class="col-lg-4 col-md-12">
            <div class="phone-number-email">
                <img src="~/homelayout/logo/phone.svg" alt="">
                <div class="address-map">
                    <p>@SharedLocalizer["Mobile"]</p>
                    <a href="tel:@Model?.Phone">@Model?.Phone</a>
                </div>
            </div>
            <hr class="d-none showhr">
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="phone-number-email">
                <img src="~/homelayout/logo/email.svg" alt="">
                <div class="address-map">
                    <p>@SharedLocalizer["Email"]</p>
                    <a href="mailto:@Model?.Email">@Model?.Email</a>
                </div>
            </div>
            <hr class="d-none showhr">
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="map">
                <img src="~/homelayout/logo/email.svg" alt="">
                <div class="address-map">
                    <p>@SharedLocalizer["Adress"]</p>
                    <a href="http://maps.google.com/?q=@Model?.Adress">
                        @Model?.Adress
                    </a>
                </div>
            </div>
            <hr class="d-none showhr">
        </div>
    </div>
    <h4 style="color:#212529">@SharedLocalizer["Contact us"]</h4>
    <div class="contact-text">
        @Html.Raw(Model?.Content)
    </div>
</div>