@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model TCYDMWebApp.DTO.ChangePasswordUser

@{
    TempData["Title"] = "UserLogin";

}
@using Microsoft.AspNetCore.Mvc.Localization
@using TCYDMWebApp.Repositories.Lang


@inject IHtmlLocalizer<SharedResource> SharedLocalizer
<div class="sign-up" style="background: #dc1018;">
    <div class="row">
        <div class="col-lg-12 col-md-12 d-flex justify-content-center">
            <img src="~/mainlayout/logo/user-line.svg" alt="">
        </div>
    </div>
    <div class="test">
        <div class="row">
            <div class="col-7 first-a-tag">
                <a style="text-transform:capitalize;color:white">@SharedLocalizer["Change Password"]</a>
                @if (TempData["ServerResponseError"] != null)
                {
                    <div class="p-red-box servererror" style="position:absolute;left:5%;top:40%;z-index:2;display:none;">
                        <p style="color:white">@TempData["ServerResponseError"]</p>

                    </div>
                }

            </div>

        </div>

    </div>
    @if (TempData["SuccessResponse"] is object)
    {
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">@SharedLocalizer["Email sended"]</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @TempData["SuccessResponse"]
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-primary" data-dismiss="modal">@SharedLocalizer["Understood"]</button>
                    </div>
                </div>
            </div>
        </div>
    }



    <div class="container">

        <!-- LOGIN FORM -->
        <form asp-controller="Users" asp-action="ChangePasswordUser" method="post">
            <div class="row mt-2" id="login-form">
                <div class="col-lg-4">

                </div>
                <div class="col-lg-4">
                    <div class="col-lg-12 col-md-12">
                        <input type="password" style="width: 100% !important;" asp-for="OldPassword" id="email">
                        <span asp-validation-for="OldPassword" class="text-info"></span>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <input type="password" style="width: 100% !important;" asp-for="Password" id="email">
                        <span asp-validation-for="Password" class="text-info"></span>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <input type="password" style="width: 100% !important;" asp-for="Password_Compare" id="email">
                        <span asp-validation-for="Password_Compare" class="text-info"></span>
                    </div>


                    <div class="col-lg-12 col-md-12">
                        <button type="submit" class="button-sign" style="text-transform:capitalize">@SharedLocalizer["Change Password"]</button>
                    </div>

                </div>
                <div class="col-lg-4">

                </div>


            </div>
        </form>
    </div>
    <!-- LOGIN FORM -->
</div>


</div>

@section Scripts {
    @if (TempData["ServerResponseError"] != null)
    {
        <script>
            $(".servererror").fadeIn(function () {
                setTimeout(function () {
                    $(".servererror").fadeOut();
                }, 2000);
            })
        </script>

    }
    @if (TempData["SuccessResponse"] is object)
    {
        <script>
            $("#exampleModalCenter").modal("show");
        </script>
    }

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
