@using Microsoft.AspNetCore.Mvc.Localization
@using TCYDMWebApp.Repositories.Lang



@model TCYDMWebApp.DTO.ContactUsDTO


@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<a  href="#" style="text-transform:uppercase;color:white;">@SharedLocalizer["WHO WE ARE"]</a>
<a href="#" style="text-transform:uppercase;color:white;color:white">@SharedLocalizer["WHAT WE DO"]</a>
<a href="#" style="        text-transform: uppercase; color: white">@SharedLocalizer["Contact us"]</a>
<address class="address">
    <span style="color:white">@SharedLocalizer["Email"]: </span><a style="color:white;" href="mailto:@Model?.Email">@Model?.Email</a> <br>
    <span style="color:white;">@SharedLocalizer["Mobile Phone"]:</span><a style="color:white;" href="tel:@Model?.Phone">@Model?.Phone</a><br>
    <span style="color:white;">@SharedLocalizer["Address"]:</span><a style="color:white;" href="http://maps.google.com/?q=@Model?.Adress" class="wp-preline">@Model?.Adress</a>
</address>
<img src="~/mainlayout/logo/640px-Google_Play_Store_badge_EN.svg.png">
<img src="~/mainlayout/logo/download-on-app-store-png-click-the-qr-code-to-show-the-download-link-800-1.png">