@*@using TCYDMWebApp.Resources
    @inject LocService SharedLocalizer*@
@using Microsoft.AspNetCore.Mvc.Localization
@using TCYDMWebApp.Repositories.Lang


@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<!doctype html>
<html>

<head>
    <title>SCFFR</title>
    <meta charset="utf-8" lang="en">
    <meta name="description" content="Support Center For Foreign Residents">
    <meta name="author" content="Selim Ozturk">
    <link href="~/mainlayout/logo/logomain.png" rel="icon" type="image/gif">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="viewport" content="width=device-width initial-scale=1 shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha512-oc9+XSs1H243/FRN9Rw62Fn8EtxjEYWHXRvjS43YtueEewbS6ObfXcJNyohjHqVKFPoXXUxwc+q1K7Dee6vv9g==" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Orelega+One&display=swap" rel="stylesheet">
    @RenderSection("ValidationJS", required: false)
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="stylesheet" href="~/mainlayout/css/style.css">
</head>

<body>
    <header>
        <div class="container mt-2 mb-2">
            <!-- PHONE VERSION CONTACT -->
            <div class="row phone-version-contact d-none">
                <div class="contact-number col-md-6 col-6 col-xs-6 m-auto">
                    <a href="tel:*1010">
                        <img src="~/mainlayout/logo/phone-call.svg" alt="" width="30"> *1010
                    </a>
                </div>
                @if (Context.Request.Cookies["UserKey"] != null)
                {
                    <div class="col-6 col-xs-6 text-right m-auto">
                        <a asp-controller="Users" asp-action="UserEdit" class="btn-register" style="text-transform:capitalize"><img src="~/mainlayout/logo/user-line.png" alt="logo">@Context.Request.Cookies["name"]</a>
                        <a asp-controller="Users" asp-action="Logout"><img src="~/mainlayout/logo/exit.svg" alt="logo"></a>
                    </div>
                }
                else
                {
                    <div class="col-6 col-xs-6 text-right m-auto">
                        <a asp-action="Login" asp-controller="Users" class="btn-register">@SharedLocalizer["Registration"]</a>

                    </div>
                }

            </div>
            <!-- PHONE VERSION CONTACT -->
            <div class="row">
                <div class="col-lg-1 col-md-6 col-xs-6 col-6 logo">
                    <a href="/"><img src="~/mainlayout/logo/logomain.png" style="width: 65px; height: 60px;" alt="logo" width="200"></a>
                </div>
                <div class="col-lg-9 menu-items m-auto col-md-8 col-8" style="font-size:smaller">
                    <ul>
                        <li><a asp-controller="Home" asp-action="WhoWeAre">@SharedLocalizer["WHO WE ARE"]?</a></li>
                        <li><a asp-controller="Home" asp-action="WhatWeDo" style="text-transform:uppercase">@SharedLocalizer["What We Do"]?</a></li>
                        <li id="btn-our-services" class="btn-our-services"><a href="#">@SharedLocalizer["Our Services"]<i class="fas fa-angle-down"></i> </a></li>

                        <div id="our-services-menu" class="our-services-menu ">
                            <ul>
                                @await Component.InvokeAsync("Navbar")
                            </ul>
                        </div>

                        <li><a asp-controller="Home" asp-action="ContactUs" style="text-transform:uppercase">@SharedLocalizer["Contact us"]</a></li>
                        @if (Context.Request.Cookies["UserKey"] != null)
                        {
                            <li> <a asp-controller="Users" asp-action="UserEdit" class="btn-register" style="text-transform:capitalize"><img src="~/mainlayout/logo/user-line.png" alt="logo">@Context.Request.Cookies["name"]</a></li>
                            <li> <a asp-controller="Users" asp-action="Logout"><img src="~/mainlayout/logo/exit.svg" alt="logo"></a></li>
                        }
                        else
                        {
                            <li><a asp-action="Login" asp-controller="Users" class="btn-register">@SharedLocalizer["Registration"]</a></li>
                        }

                    </ul>

                    <!-- OUR SERVICES MENU -->
                    <!-- OUR SERVICES MENU -->

                </div>

                <div class="col-lg-2 col-md-6 col-xs-6 col-6 m-auto">
                    <div class="row">
                        <div class="languages col-lg-5 border-left border-right pl-4 col-8">
                            <!-- <img src="logo/world (1).svg" alt="logo" id="logo-img"> -->
                            <i class="fas fa-globe-europe "></i>
                            @await Html.PartialAsync("_SelectLanguagePartial")
                        </div>
                        <div class="contact-number col-lg-7 col-md-7 col-7">
                            <a href="tel:*1010" style="font-weight:bold eszkj,lighter">
                                <img src="~/mainlayout/logo/phone-call.svg" alt="" width="30"> *1010
                            </a>
                        </div>
                        <!-- HAMBURGER MENU BUTTON-->
                        <div class="hamburger-menu col-lg-4 col-md-4  col-4 d-none">
                            <a class="btn pt-0" href="javascript:void(0);" class="icon" onclick="navbarOC()">
                                <i class="fas fa-bars"></i>
                            </a>
                        </div>
                        <!-- HAMBURGER MENU BUTTON-->
                    </div>
                </div>
            </div>
        </div>
        <!-- HAMBURGER MENU -->
        <div class="topnav">
            <div id="Mobile-Nav-Links">
                <a asp-controller="Home" asp-action="WhoWeAre">@SharedLocalizer["WHO WE ARE"]?</a>
                <a asp-controller="Home" asp-action="WhatWeDo">@SharedLocalizer["What We Do"]?</a>
                <a asp-controller="Home" asp-action="ContactUs">@SharedLocalizer["Contact us"]</a>
                <a href="#" id="btn-our-services-mobile">@SharedLocalizer["Our Services"]<i class="fas fa-angle-down"></i> </a>
                <div id="our-services-menu-mobile" class="our-services-menu-mobile d-none">
                    <ul>
                        @await Component.InvokeAsync("Navbar")
                    </ul>
                </div>
            </div>
        </div>
        <!-- HAMBURGER MENU -->
        <div class="first-hd" style="        background-color: #dc1018 !important">
            <div class="row m-0">
                <div class="col-lg-4 disable"> </div>
                <div class="col-lg-5 col-md-6 col-xs-6 col-6 operate-div">
                    <!--<h4 class="operate-clas">SharedLocalizer["WE OPERATE 24/7"]</h4>-->
                </div>
                @if (Context.Request.Cookies["UserKey"] != null)
                {
                    <form asp-controller="Actions" asp-action="OnlineTurn" method="get">
                        <div class="col-lg-3 col-md-6 col-xs-6 col-6 right-div">
                            <button type="submit" class="online-btn">@SharedLocalizer["Online query"]</button>
                        </div>
                    </form>
                }
            </div>


        </div>
    </header>
    <section>
        <div class="container">
            @RenderBody()
        </div>
    </section>
    <footer id="footer" class="info" style="background-color:#dc1018 !important;">
        <div class="container">
            <div class="info-footer" style="background: #dc1018 !important;">
                <div class="row ">
                    <div class="col-lg-3 col-md-12 services-center">
                        @await Component.InvokeAsync("Contact")
                    </div>
                    <div class="col-lg-9 col-md-12 services-center ">
                        <a href="#" style="text-transform:uppercase;color:white">@SharedLocalizer["Our Services"]</a>
                        <div class="row">
                            @await Component.InvokeAsync("Footer")
                        </div>
                    </div>
                </div>
                <div class="social">
                    <hr>
                    <div class="row">
                        <div class="col-12 text-center d-flex flex-row justify-content-center">
                            <a class="p-2" href=""><img src="~/mainlayout/logo/fb.svg" alt=""></a>
                            <a class="p-2" href=""><img src="~/mainlayout/logo/tl.svg" alt=""></a>
                            <a class="p-2" href=""><img src="~/mainlayout/logo/ins.svg" alt=""></a>
                            <a class="p-2" href=""><img src="~/mainlayout/logo/yt.svg" alt=""></a>
                            <a class="p-2" href=""><img src="~/mainlayout/logo/tl (2).svg" alt=""></a>
                        </div>
                        <div class="col-12 text-center">
                            <p style="color:white">
                                &copy; @SharedLocalizer["Support to the Republic of Turkey Foreign Center"]. @SharedLocalizer["All rights reserved"].
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/mainlayout/js/main.js"></script>
    <script>
        $(document).ready(function () {
            $(".lng").change(function () {
                $("#lngform").submit();
            })
        })
    </script>
    @RenderSection("Scripts", required: false)
</body>

</html>
